.app {
    font-family: Optima, serif;
}
.header, .input-select-sort {
    display: inline-block;
}
.input-select-sort {
    margin-left: 20px;
}
.svg-wrapper {
    // width: 70%;
    height: calc(100vh - 100px);
    box-shadow: 0 0 0 1px #777;
    overflow: auto;
}

g.user-engagement rect.user-timeline {
    fill: #f7f7f7;
}
g.user-engagement rect.attention {
    fill: #71c51f;
    fill-opacity: 0.7;
}
g.user-engagement rect.distraction {
    fill: #bd3209;
    fill-opacity: 0.7;
}
g.user-engagement text.user-label {
    font-family: Courier, serif;
    font-size: 10px;
    text-shadow: 1px 1px 1px #fff;
}
g.user-quiz circle {
    stroke: white;
}
g.user-quiz circle.answer-correct {
    fill: green;
}
g.user-quiz circle.answer-incorrect {
    fill: red;
}