.app {
    font-family: Optima, serif;
}
.svg-wrapper {
    // width: 70%;
    height: calc(100vh - 100px);
    box-shadow: 0 0 0 1px #777;
    overflow: auto;
}

g.user-engagement rect.user-timeline {
    fill: #f7f7f7;
}
g.user-engagement rect.attention {
    fill: #71c51f;
}
g.user-engagement rect.distraction {
    fill: #bd3209;
}
g.user-engagement text {
    text-shadow: 1px 1px 1px #fff;
}